# ADAMCHOI DATA WEBSCRAPPING USING SELENIUM

#### IMPORT LIBRARY

In [143]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

#### PATH AND WEBSITE

In [144]:
website = 'https://www.adamchoi.co.uk/overs/detailed'
path = 'D:/DS/workbook/PYTHON/Web Scrapping/webscrapping using Selenium/chromedriver/chromedriver.exe'

#### CREATING DRIVERS

In [145]:
driver= webdriver.Chrome(path)
driver.get(website)

C:\Users\padi3\AppData\Local\Temp\ipykernel_22296\2159534918.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(path)

#### NAVIGATE AND CLICK

In [146]:
all_matches_button = driver.find_element(By.XPATH, '//label[@analytics-event="All matches"]') # Navigate into all match

In [147]:
all_matches_button.click() # Click to all match

In [148]:
matches = driver.find_elements(By.TAG_NAME,'tr')

#### SEPERATING DATA

In [149]:
date = []
home_team = []
score = []
away_team = []

for match in matches:
    date.append(match.find_element(By.XPATH, './td[1]').text)
    home_team.append(match.find_element(By.XPATH, './td[2]').text)
    score.append(match.find_element(By.XPATH, './td[3]').text)
    away_team.append(match.find_element(By.XPATH, './td[4]').text)

driver.quit()

#### PANDAS DATA FRAME

In [150]:
df = pd.DataFrame({'Date':data, 'Home Team':home_team, 'Score':score, 'Away team':away_team})
df.head()

         Date       Home Team  Score    Away team
0  05-08-2022  Crystal Palace  0 - 2      Arsenal
1  13-08-2022         Arsenal  4 - 2    Leicester
2  20-08-2022     Bournemouth  0 - 3      Arsenal
3  27-08-2022         Arsenal  2 - 1       Fulham
4  31-08-2022         Arsenal  2 - 1  Aston Villa

#### RESULT STORED IN EXCEL

In [151]:
df.to_csv('data.csv', index=False)